[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pycairo = "*"
pygobject = "*"
glib = "*"
pgi = "*"
yawaei = "==0.0.4"
setuptools = "*"
install = "*"
eeplanner = {extras = ["dev"], path = "."}

[requires]
python_version = "3.9"

[dev-packages]
twine = "*"
