Source: eeplanner
Section: contrib/python
Priority: extra
Maintainer: Julien Aldon <julien.aldon@epitech.eu>
Build-Depends: debhelper (>= 11), python3, python3-all, python3-venv, python3-dev, tar
Standards-Version: 3.9.5
Homepage: https://github.com/JulienAldon/EEPlanner

Package: eeplanner
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python3, python3-venv, ${misc:Pre-Depends}
Depends: ${python:Depends}, ${misc:Depends}
Description: Epitech Event Planner
    .
    This is a distribution of "eeplanner" as a self-contained
    Python virtualenv wrapped into a Debian package.
    .
    See https://github.com/spotify/dh-virtualenv for more details.
