Source: eeplanner
Maintainer: Aldon Julien <julien.aldon@wanadoo.fr> 
Section: utils
Priority: optional 
Standards-Version: 2.0.1 
Build-Depends: debhelper (>= 9), python3

Package: eeplanner 
Architecture: all 
Depends: python-gi 
Description: Epitech Event Planner
 Epitech Event Planner is a tool to planify every sign sessions.